button{
    font-size: 3rem;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    background-color: rgb(44, 39, 39);
    color: white;
    cursor: pointer;
}
body{
    background-color: black;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: right;
}
.symbal{
    background-color: orange;
}
p{
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 4rem;
    color:  white;
}